<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture - Success</title>
    <link rel="stylesheet" href="static/main.css">
  </head>
  <body style="background-color: #FBF8F0;">
    <header class="mainHeader">
      <div class="homeTitle">
        <a class="homeLink" href="{{url_for('home')}}">Furniture</a>
      </div>
      <div class="navRightItems">
        <div class="rightNavContainer">
          <a class="rightLink" href="{{url_for('shop')}}">Shop</a>
        </div>
        <div class="rightNavContainer">
          <a id="reviewsHeader" class="rightLink" href="{{url_for('home')}}#reviews">Reviews</a>
        </div>
        <a class="cartLink" href="{{url_for('cart')}}">
          <img src="static/images/cart_icon.png" alt="Cart icon">
          <div class="cartItemCounter">
            0
          </div>
        </a>
      </div>
    </header>
    <main class="cartMain">
      <div class="successContainer">
        <img src="static/images/check_marks/check_circle_orange.svg" alt="Orange Check in Circle">
        <h1>Success!</h1>
        <p>We received your purchase request we'll be in touch shortly!</p>
        <a href="{{url_for('home')}}"><button>Back to Home</button></a>
      </div>
    </main>
    <footer>
      <div class="footerContainer"><div class="col1">
        <h3>Project 2 - Sales Website - Furniture</h3>
        <p>@ Designed by Gaurav Kuwar 2022</p>
        <p><em>Information used in this webpage is for educational purpose.</em></p>
      </div><div class="col2">
        <h3>Follow Us</h3>
        <a class="twitter" href="https://twitter.com/qcc_cuny" target="_blank">
          <img src="static/images/twitter.png" title="Twitter" alt="twitter icon">
        </a>
        <a class="facebook" href="http://www.facebook.com/QueensboroughCUNY" target="_blank">
          <img src="static/images/facebook.png" title="Facebook" alt="facebook icon">
        </a>
        <a class="instagram" href="https://www.instagram.com/queensboroughcc_cuny/" target="_blank">
          <img src="static/images/instagram.png" title="Instagram" alt="instagram icon">
        </a>
      </div></div>
    </footer>
    <a href="#">
      <div class="goToTop">
        <img src="static/images/go_to_top.svg" alt="Go To Top">
      </div>
    </a>
  </body>
</html>
